html, body {
    height: 100%;
    margin: 0;
  }
body {
    font-family: FreeMono, monospace;
    text-align: center;
    background: #fffcfc;
    background: linear-gradient(180deg, rgb(255, 239, 204) 0%, rgb(252, 219, 130) 100%);
}

img{
    border-radius: 30%;
}
p{
    font-size: 20px;
}

iframe{
    border: 3px solid black;
    height: 400px;
    width: 800px;
    border-radius: 15px;

}
menu {
    text-decoration: none;
    background: black;
    font-size: 150%;
    padding: 1%;
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
    margin: 0px 30px 0px 20px;
}

