body {
    font-family: FreeMono, monospace;
    text-align: center;
    background: #100024;
    background: linear-gradient(90deg,rgba(16, 0, 36, 1) 0%, rgba(140, 0, 255, 1) 100%);
}

img{
    border-radius: 30%;
}
p{
    font-size: 20px;
}

iframe{
    border: 3px solid black;
    height: 400px;
    width: 800px;
    border-radius: 15px;

}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 150%;
    padding: 3%;
}

